:root {
    --bs-table-bg: #ffffff; /* Ustawienie własnego koloru tła tabeli */
    --bs-body-bg: #ffffff; /* Ustawienie własnego koloru tła ciała, jeśli potrzebne */
}

.my_custom_container .table .priority-high {
    background-color: #ffcccc !important;
}
.priority-medium {
    background-color: #ffecb3 !important; /* Jasnopomarańczowy */
}

.priority-low {
    background-color: #ffffcc !important; /* Jasnożółty */
}

.priority-none {
    background-color: #f0f0f0 !important; /* Bardzo jasnoszary */
}

.my_custom_container{
    margin: 100px;
}