{% extends 'base/base.html' %}
{% block content %}

<div class="container mt-3">
    <p><a class="btn btn-primary" href="{% url 'issues:create_issue' %}">Dodaj Awarie</a></p>
    <div class='my_custom_container'>
        <table class="table">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data Dodania</th>
                    <th>Linia</th>
                    <th>Maszyna</th>
                    <th>Priorytet</th>
                    <th>Typ Awarii</th>
                    <th>Akceptuj</th>
                    <th>Zakończ</th>
                </tr>
            </thead>
                <tbody>
                {% for issue in issues %}
                    {% with issue.priority as priority %}
                    <p>Debug Priority: {{ priority }}</p>
                    <tr class="{% if priority == '1' %}priority-high{% elif priority == '2' %}priority-medium{% elif priority == '3' %}priority-low{% elif priority == '0' %}priority-none{% endif %}">
                            <td><a href="{% url 'issues:issue_detail' pk=issue.pk %}">{{ issue.title }}</a></td>
                            <td>{{ issue.author.get_full_name }}</td>
                            <td>{{ issue.upload_date }}</td>
                            <td>{{ issue.line }}</td>
                            <td>{{ issue.machine }}</td>
                            <td>{{ issue.get_priority_display }}</td>
                            <td>{{ issue.get_type_of_issue_display }}</td>
                            <td>
                                {% if not issue.start_date %}
                                    <form action="{% url 'issues:accept_issue' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="issue_id" value="{{ issue.id }}">
                                        <button type="submit" name="action", value="accept">Akceptuj</button>
                                    </form>
                                {% else %}
                                {{ issue.start_date}} by {{ issue.accepted_by }}
                                {% endif %}
                            </td>
                            <td>
                                {% if not issue.start_date %}
                                    Nie rozpoczęto
                                {% else %}

                                    {% if not issue.end_date %}
                                        <form action="{% url 'issues:accept_issue' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="issue_id" value="{{ issue.id }}">
                                            <button type="submit", name="action", value="complete">Zakończ</button>
                                        </form>
                                    {% endif %}
                                    {% if issue.end_date %}
                                        {{ issue.end_date }}
                                    {% endif %}
                                {% endif %}
                            </td> 
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<h1>Siema</h1>

{% endblock %}
