{% extends "base/base.html" %}
{% block content %}

<form method="get">
    <label for="search">Szukaj pracownika:</label>
    <input type="text" name="search" id="search" value="{{ request.GET.search }}" placeholder="Imię lub nazwisko">
    <button type="submit">Szukaj</button>
</form>

<h1>Lista Pracowników</h1>

{% for profile, groups in profile_groups %}
    <li>{{ profile.user.get_full_name }} {{profile.number}}
        <ul>
            {% for group in groups %}
                <li>{{ group.name }}</li>
            {% endfor %}
        </ul>
    </li>
{% empty %}
<p>Nie ma tutaj żadnych pracowników</p>
{% endfor %}

{% if "Manager" in group_names %}
    <p>Jesteś managerem</p>
{% endif %}
{% endblock %}