{% extends 'base/base.html' %}
{% block content %}

  <h1>Lista Modyfikacji w Firmie</h1>
  
  {% if machine %}
    <p><a href="{% url 'database:create_modyfications' pk=machine.pk %}">Create Modification</a></p>
  {% endif %}
  
  {% for modyfication in modyfications %}
    <ul>
      <li>
        <a href="{% url 'database:modyfication_detail' pk=machine.pk modyfication_pk=modyfication.pk %}">
          {{ modyfication.machine.name }}
        </a>
      </li>
    </ul>
{% empty %}
    <p>Nie ma żadnych modyfikacji do wyświetlenia</p>
{% endfor %}

{% endblock %}
